In [1]:
import numpy as np
import pandas as pd
import itertools

In [2]:
def calculate_accuracy(row):
    home_accuracy=abs(row["actual_home"]-row["predicted_home"])/(1+row["predicted_home"])
    away_accuracy = abs(row["actual_away"]-row["predicted_away"])/(1+row["predicted_away"])
    accuracy=1-((home_accuracy+away_accuracy)/2)
    return accuracy

In [3]:
home=[0,1,2,3]
away=[0,1,2,3]
predicted_home=[0,1,2,3]
predicted_away=[0,1,2,3]
possible_scores = pd.DataFrame(list(itertools.product(*[home,away,predicted_home,predicted_away])),columns=["actual_home","actual_away","predicted_home","predicted_away"])

In [4]:
possible_scores

     actual_home  actual_away  predicted_home  predicted_away
0              0            0               0               0
1              0            0               0               1
2              0            0               0               2
3              0            0               0               3
4              0            0               1               0
..           ...          ...             ...             ...
251            3            3               2               3
252            3            3               3               0
253            3            3               3               1
254            3            3               3               2
255            3            3               3               3

[256 rows x 4 columns]

In [5]:
possible_scores["accuracy"]=possible_scores.apply(calculate_accuracy,axis=1)
possible_scores

     actual_home  actual_away  predicted_home  predicted_away  accuracy
0              0            0               0               0  1.000000
1              0            0               0               1  0.750000
2              0            0               0               2  0.666667
3              0            0               0               3  0.625000
4              0            0               1               0  0.750000
..           ...          ...             ...             ...       ...
251            3            3               2               3  0.833333
252            3            3               3               0 -0.500000
253            3            3               3               1  0.500000
254            3            3               3               2  0.833333
255            3            3               3               3  1.000000

[256 rows x 5 columns]

In [6]:
data_home=possible_scores[possible_scores["actual_home"]>possible_scores["actual_away"]].copy()
data_away=possible_scores[possible_scores["actual_home"]<possible_scores["actual_away"]].copy()
data_draw=possible_scores[possible_scores["actual_home"]==possible_scores["actual_away"]].copy()
data_home_draw=possible_scores[possible_scores["actual_home"]>=possible_scores["actual_away"]].copy()
data_away_draw=possible_scores[possible_scores["actual_home"]<=possible_scores["actual_away"]].copy()

In [7]:
data_home

     actual_home  actual_away  predicted_home  predicted_away  accuracy
64             1            0               0               0  0.500000
65             1            0               0               1  0.250000
66             1            0               0               2  0.166667
67             1            0               0               3  0.125000
68             1            0               1               0  1.000000
..           ...          ...             ...             ...       ...
235            3            2               2               3  0.708333
236            3            2               3               0  0.000000
237            3            2               3               1  0.750000
238            3            2               3               2  1.000000
239            3            2               3               3  0.875000

[96 rows x 5 columns]

In [8]:
data_home.iloc[data_home.reset_index().groupby(["actual_home","actual_away"])["accuracy"].nlargest(2).index.get_level_values(2)]

     actual_home  actual_away  predicted_home  predicted_away  accuracy
68             1            0               1               0  1.000000
72             1            0               2               0  0.833333
136            2            0               2               0  1.000000
140            2            0               3               0  0.875000
153            2            1               2               1  1.000000
157            2            1               3               1  0.875000
204            3            0               3               0  1.000000
200            3            0               2               0  0.833333
221            3            1               3               1  1.000000
217            3            1               2               1  0.833333
238            3            2               3               2  1.000000
239            3            2               3               3  0.875000

In [9]:
data_home.groupby(["predicted_home","predicted_away"])["accuracy"].sum()

predicted_home  predicted_away
0               0                -3.000000
                1                -2.000000
                2                -2.333333
                3                -2.750000
1               0                 2.000000
                1                 3.000000
                2                 2.666667
                3                 2.250000
2               0                 3.333333
                1                 4.333333
                2                 4.000000
                3                 3.583333
3               0                 3.500000
                1                 4.500000
                2                 4.166667
                3                 3.750000
Name: accuracy, dtype: float64

In [10]:
data_draw.groupby(["predicted_home","predicted_away"])["accuracy"].sum()

predicted_home  predicted_away
0               0                -2.000000
                1                 0.000000
                2                 0.333333
                3                 0.250000
1               0                 0.000000
                1                 2.000000
                2                 2.333333
                3                 2.250000
2               0                 0.333333
                1                 2.333333
                2                 2.666667
                3                 2.583333
3               0                 0.250000
                1                 2.250000
                2                 2.583333
                3                 2.500000
Name: accuracy, dtype: float64

In [11]:
data_home_draw.groupby(["predicted_home","predicted_away"])["accuracy"].sum()

predicted_home  predicted_away
0               0                -5.000000
                1                -2.000000
                2                -2.000000
                3                -2.500000
1               0                 2.000000
                1                 5.000000
                2                 5.000000
                3                 4.500000
2               0                 3.666667
                1                 6.666667
                2                 6.666667
                3                 6.166667
3               0                 3.750000
                1                 6.750000
                2                 6.750000
                3                 6.250000
Name: accuracy, dtype: float64